name: Deploy React App

on:
  push:
    branches: ["main"]  # Ou "master", verifique qual é o nome da sua branch principal

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20" # Ajuste se usar outra versão
          cache: 'npm'
          cache-dependency-path: front-end/package-lock.json

      - name: Install Dependencies
        run: |
          cd front-end
          npm install

      - name: Build
        run: |
          cd front-end
          npm run build

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          # O build do React geralmente cria uma pasta 'build' ou 'dist'.
          # Como você está usando craco/react, o padrão costuma ser 'build'.
          path: ./front-end/build

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
